<% include ../header %>

<head>
  <h2>Ntalk - Chat</h2>
</head>
<section>
  <pre id="chat"></pre>
  <input type="text" id="msg" placeholder="Mensagem" />
  <button onclick="enviar();" value="Enviar">Enviar</button>
</section>
<% include ../exit %>
<% include ../footer %>
